# =======================
# IDEs and Editors
# =======================

.vscode

# ============
# Backend
# ============

node_modules
npm-debug.log
.DS_Store
jest.config.js
config.json
exampleData.json
.env
coverage